/* font "DM Mono" */
@font-face {
  font-family: "DM Mono";
  /* IE9 Compat Modes */
  src: url(../../fonts/DMMono-Regular/DMMono-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/DMMono-Regular/DMMono-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/DMMono-Regular/DMMono-Regular.otf) format("otf"), url(../../fonts/DMMono-Regular/DMMono-Regular.svg#DMMono-Regular) format("svg"), url(../../fonts/DMMono-Regular/DMMono-Regular.ttf) format("truetype"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff) format("woff"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff2) format("woff2");
}
/* font "Audiowide" */
@font-face {
  font-family: "Audiowide";
  /* IE9 Compat Modes */
  src: url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Audiowide"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.otf) format("otf"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.svg#Audiowide-Regular) format("svg"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.ttf) format("truetype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff) format("woff"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff2) format("woff2");
}
/* font "Inter" */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
}
/* font "DM Mono" */
@font-face {
  font-family: "DM Mono";
  /* IE9 Compat Modes */
  src: url(../../fonts/DMMono-Regular/DMMono-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/DMMono-Regular/DMMono-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/DMMono-Regular/DMMono-Regular.otf) format("otf"), url(../../fonts/DMMono-Regular/DMMono-Regular.svg#DMMono-Regular) format("svg"), url(../../fonts/DMMono-Regular/DMMono-Regular.ttf) format("truetype"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff) format("woff"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff2) format("woff2");
}
/* font "Audiowide" */
@font-face {
  font-family: "Audiowide";
  /* IE9 Compat Modes */
  src: url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Audiowide"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.otf) format("otf"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.svg#Audiowide-Regular) format("svg"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.ttf) format("truetype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff) format("woff"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff2) format("woff2");
}
/* font "Inter" */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
}
.header {
  background-color: black;
}
.header__container {
  max-width: 1440px;
  width: 100%;
}
.header__navigation {
  padding: 34px 140px;
  display: flex;
  justify-content: flex-start;
}
.header__navigation .header__logo {
  display: inline-block;
  width: 123px;
  height: 32px;
  margin-right: 40px;
}
.header__navigation .header__nav-socials-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__navigation .header__nav-socials-wrapper .header__nav {
  max-width: 350px;
  width: 100%;
  display: flex;
}
.header__navigation .header__nav-socials-wrapper .header__nav .header__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.header__navigation .header__nav-socials-wrapper .header__nav .header__nav-list .header__nav-list-item {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
.header__navigation .header__nav-socials-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-inline: 4px;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: white;
  transition: 0.7s;
}
.header__navigation .header__nav-socials-wrapper .header__nav .header__nav-list .header__nav-list-item:hover {
  transform: scale(1.2);
  background-color: #8dfd1b;
}
.header__navigation .header__nav-socials-wrapper .header__nav .header__nav-list .header__nav-list-item:hover .header__link {
  color: black;
}
.header__navigation .header__nav-socials-wrapper .header__nav .header__nav-list .header__nav-list-item:active .header__link {
  transition: 0s;
  color: white;
}

/* font "DM Mono" */
@font-face {
  font-family: "DM Mono";
  /* IE9 Compat Modes */
  src: url(../../fonts/DMMono-Regular/DMMono-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/DMMono-Regular/DMMono-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/DMMono-Regular/DMMono-Regular.otf) format("otf"), url(../../fonts/DMMono-Regular/DMMono-Regular.svg#DMMono-Regular) format("svg"), url(../../fonts/DMMono-Regular/DMMono-Regular.ttf) format("truetype"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff) format("woff"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff2) format("woff2");
}
/* font "Audiowide" */
@font-face {
  font-family: "Audiowide";
  /* IE9 Compat Modes */
  src: url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Audiowide"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.otf) format("otf"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.svg#Audiowide-Regular) format("svg"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.ttf) format("truetype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff) format("woff"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff2) format("woff2");
}
/* font "Inter" */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
}
.main {
  background-color: black;
}
.main__container {
  max-width: 1440px;
  width: 100%;
}
.main__container .main__record-section-wrapper {
  display: flex;
  align-items: center;
}
.main__container .main__record-section-wrapper .main__record-info-wrapper {
  flex-basis: 40%;
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 70px;
}
.main__container .main__record-section-wrapper .main__record-info-wrapper .main__record-headline {
  margin-bottom: 43px;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
  text-transform: uppercase;
  color: white;
}
.main__container .main__record-section-wrapper .main__record-info-wrapper .main__record-text {
  margin-bottom: 115px;
  max-width: 340px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.main__container .main__record-section-wrapper .main__record-info-wrapper .main__record-btn {
  max-width: 204px;
  padding: 20px 39px;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: black;
  background-color: #8dfd1b;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main__container .main__record-section-wrapper .main__record-info-wrapper .main__record-btn:hover {
  transform: scale(1.2);
}
.main__container .main__record-section-wrapper .main__record-info-wrapper .main__record-btn:active {
  transition: 0s;
  color: white;
}
.main__container .main__record-section-wrapper .main__record-img {
  flex-basis: 60%;
}

/* font "DM Mono" */
@font-face {
  font-family: "DM Mono";
  /* IE9 Compat Modes */
  src: url(../../fonts/DMMono-Regular/DMMono-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/DMMono-Regular/DMMono-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/DMMono-Regular/DMMono-Regular.otf) format("otf"), url(../../fonts/DMMono-Regular/DMMono-Regular.svg#DMMono-Regular) format("svg"), url(../../fonts/DMMono-Regular/DMMono-Regular.ttf) format("truetype"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff) format("woff"), url(../../fonts/DMMono-Regular/DMMono-Regular.woff2) format("woff2");
}
/* font "Audiowide" */
@font-face {
  font-family: "Audiowide";
  /* IE9 Compat Modes */
  src: url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Audiowide"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.otf) format("otf"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.svg#Audiowide-Regular) format("svg"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.ttf) format("truetype"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff) format("woff"), url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff2) format("woff2");
}
/* font "Inter" */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"), url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Inter-Regular/Inter-Regular.otf) format("otf"), url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular) format("svg"), url(../../fonts/Inter-Regular/Inter-Regular.ttf) format("truetype"), url(../../fonts/Inter-Regular/Inter-Regular.woff) format("woff"), url(../../fonts/Inter-Regular/Inter-Regular.woff2) format("woff2");
}
.global-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.socials {
  max-width: 180px;
  width: 100%;
}
.socials .socials__list {
  display: flex;
  justify-content: space-between;
}
.socials .socials__list .socials__list-item {
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.socials .socials__list .socials__list-item:hover {
  transform: scale(1.2);
}
.socials .socials__list .socials__list-item:hover .social-link {
  background-color: #8dfd1b;
}

.social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: white;
  transition: 0.3s;
}
.social-link__twitter {
  background-image: url(../../img/icons/icon-twitter.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-link__discord {
  background-image: url(../../img/icons/icon-discord.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-link__youtube {
  background-image: url(../../img/icons/icon-youtube.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-link__telegram {
  background-image: url(../../img/icons/icon-telegram.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=glStyle.css.map */