@import "../vars/vars";
@import "../header/header.scss";
@import "../main/main";
@import "../footer/footer";

.global-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.socials {
  max-width: 180px;
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-between;
    .socials__list-item {
      width: 36px;
      height: 36px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
        .social-link {
          background-color: $light-green;
        }
      }
    }
  }
}

.social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: white;
  transition: 0.3s;
  &__twitter {
    background-image: url(../../img/icons/icon-twitter.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__discord {
    background-image: url(../../img/icons/icon-discord.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__youtube {
    background-image: url(../../img/icons/icon-youtube.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__telegram {
    background-image: url(../../img/icons/icon-telegram.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__linked-in {
    background-image: url(../../img/icons/icon-linked-in.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.green-wrapper {
  border-left: 2px solid $light-green;
  &__text {
    padding-left: 22px;
    font-family: "DM Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: $light-green;
  }
}

.artist-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  &__name {
    font-family: "DM Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
  }
}

.roadmap-card {
  min-height: 290px;
  max-width: 540px;
  width: 100%;
  z-index: 1;
  border: 1px solid $light-green;
  background-color: $cards-bg;
  .roadmap-card__wrapper {
    display: flex;
    flex-direction: column;
    .roadmap-card__upper-line-wrapper {
      flex-basis: 35%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 13px;
      border-bottom: 1px solid $light-green;
      .roadmap-card__digit-block {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        border: 1px solid $light-green;
        background-color: transparent;
        .roadmap-card__digit-num {
          font-family: "DM Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 28px;
          color: $light-green;
        }
        &_selected {
          background-color: $light-green;
          .roadmap-card__digit-num {
            color: black;
          }
        }
      }
      .roadmap-card__phase-info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .roadmap-card__phase-label {
          font-family: "DM Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 8px;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $light-green;
        }
        .roadmap-card__phase-name {
          font-family: "DM Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          text-transform: uppercase;
          color: white;
        }
      }
    }
    .roadmap-card__bottom-line-wrapper {
      flex-basis: 65%;
      padding: 25px 12px;
      display: flex;
      justify-content: space-between;
      .roadmap-card__all-text-wrapper {
        max-width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .roadmap-card__centered-text-wrapper {
          padding-left: 22px;
          margin-bottom: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .roadmap-card__centered-text {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 32px;
            color: white;
          }
        }
        .roadmap-card__text {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 26px;
          color: white;
          &_green {
            text-decoration: none;
            font-family: "DM Mono";
            font-size: 12px;
            color: $light-green;
          }
        }
      }
      .roadmap-card__img {
        max-width: 129px;
        width: 100%;
        height: auto;
      }
    }
  }
}

.vertical-green-line {
  width: 1px;
  height: 40px;
  background-color: $light-green;
}

.partner-card {
  &__partner-logo {
    max-width: 322px;
    width: 100%;
    height: auto;
  }
}

.faq-question {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 22px 35px 20px 31px;
  background-color: $cards-bg;
  &__question {
    margin-bottom: 10px;
    font-family: "DM Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }
  &__answer {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: $faq-text;
  }
}

.teammate-card {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 19px;
  }
  &__name {
    margin-bottom: 18px;
    font-family: "DM Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
  &__role {
    margin-bottom: 22px;
    font-family: "DM Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $light-green;
  }
  &__description {
    max-width: 238px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: white;
  }
}

.twitter-linked-in-wrapper {
  min-height: 36px;
  max-width: 84px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .twitter-linked-in-wrapper__list-item {
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
        .social-link {
          background-color: $light-green;
        }
      }
    }
  }
}
