@import "../vars/vars";

.main {
  background-color: black;
  &__container {
    max-width: 1440px;
    width: 100%;
    .main__record-section-wrapper {
      display: flex;
      align-items: center;
      .main__record-info-wrapper {
        flex-basis: 40%;
        min-height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 70px;
        .main__record-headline {
          margin-bottom: 43px;
          font-family: "Audiowide";
          font-style: normal;
          font-weight: 400;
          font-size: 51px;
          line-height: 61px;
          text-transform: uppercase;
          color: white;
        }
        .main__record-text {
          margin-bottom: 115px;
          max-width: 340px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: white;
        }
        .main__record-btn {
          max-width: 204px;
          padding: 20px 39px;
          font-family: "DM Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          text-transform: capitalize;
          color: black;
          background-color: $light-green;
          border: none;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
          &:active {
            transition: 0s;
            color: white;
          }
        }
      }
      .main__record-img {
        flex-basis: 60%;
      }
    }
  }
}
