@import "../vars/vars";

.main {
  padding-bottom: 91px;
  @media (max-width: $small-tablet) {
    padding-bottom: 30px;
  }
  background-color: black;
  &__container {
    max-width: 1440px;
    width: 100%;
    .main__record-section-wrapper {
      min-height: 653px;
      display: flex;
      align-items: center;
      margin-bottom: 110px;
      @media (max-width: $big-tablet) {
        margin-bottom: 55px;
      }
      @media (max-width: $small-tablet) {
        min-height: 460px;
      }
      .main__record-info-wrapper {
        flex-basis: 40%;
        min-height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 70px;
        @media (max-width: $small-tablet) {
          flex-basis: 100%;
          padding: 20px 70px 0 70px;
          align-items: center;
        }
        @media (max-width: $phone) {
          padding: 20px 20px 0 20px;
        }
        .main__record-headline {
          margin-bottom: 43px;
          font-family: $font-headline;
          font-weight: 400;
          font-size: 51px;
          line-height: 61px;
          text-transform: uppercase;
          color: white;
          @media (max-width: $small-tablet) {
            text-align: center;
          }
        }
        .main__record-text {
          margin-bottom: 115px;
          @media (max-width: $big-tablet) {
            margin-bottom: 43px;
          }
          @media (max-width: $small-tablet) {
            text-align: center;
          }
          max-width: 340px;
          font-family: $font-text;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: white;
        }
        .main__record-btn {
          @include btn(204px, 20px 39px, 20px, black, $light-green);
          @media (max-width: $small-tablet) {
            margin-left: 0;
          }
        }
      }
      .main__record-img-wrapper {
        flex-basis: 60%;
        @media (max-width: $small-tablet) {
          display: none;
        }
        .main__record-img {
          width: 100%;
          height: auto;
        }
      }
    }
    .main__nft-wrapper {
      min-height: 545px;
      @extend %default-wrapper;
      margin-bottom: 120px;
      display: flex;
      justify-content: space-between;
      @media (max-width: $small-laptop) {
        padding-inline: 20px;
        justify-content: space-around;
      }
      @media (max-width: $big-tablet) {
        margin-bottom: 60px;
      }
      @media (max-width: $small-tablet) {
        margin-bottom: 20px;
        min-height: 450px;
      }
      .main__nft-label-img-wrapper {
        max-width: 360px;
        width: 100%;
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: start;
      }
      .main__nft-upper-label {
        font-family: $font-headline;
        font-weight: 400;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: white;
      }
      .main__nft-bottom-label {
        margin-bottom: 41px;
        font-family: $font-headline;
        font-weight: 400;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: $gray-h;
      }
      .main__nft-img {
        width: 100%;
        height: auto;
      }
      .main__nft-text-info-wrapper {
        max-width: 580px;
        width: 100%;
        padding-block: 7px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: $small-tablet) {
          display: none;
        }
      }
      .main__nft-text {
        margin-bottom: 17px;
        &_first {
          margin-top: 32px;
        }
        &_last {
          margin-bottom: 36px;
        }
        font-family: $font-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: white;
      }
      .main__nft-btn {
        @include btn(246px, 13px 33px, 25px, white, black);
        @media (max-width: $small-tablet) {
          margin-top: 30px;
        }
      }
    }
    .main__artists-label {
      margin-bottom: 120px;
      text-align: center;
      font-family: $font-headline;
      font-weight: 400;
      font-size: 79px;
      @media (max-width: $small-tablet) {
        margin-bottom: 15px;
        font-size: 40px;
      }
      line-height: 88px;
      text-transform: uppercase;
      color: white;
    }
    .main__artists-wrapper {
      min-height: 678px;
      @extend %default-wrapper;
      margin-bottom: 180px;
      display: grid;
      gap: 60px;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: $small-laptop) {
        padding-inline: 20px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $big-tablet) {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $small-tablet) {
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
      }
    }
    .main__story-wrapper {
      min-height: 643px;
      @extend %default-wrapper;
      margin-bottom: 180px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media (max-width: $small-laptop) {
        padding-inline: 20px;
        justify-content: space-around;
      }
      @media (max-width: $big-tablet) {
        margin-bottom: 90px;
      }
      @media (max-width: $small-tablet) {
        margin-bottom: 20px;
      }
      .main__story-headline {
        padding-bottom: 60px;
        @media (max-width: $small-tablet) {
          padding-bottom: 15px;
        }
        font-family: $font-headline;
        font-weight: 400;
        font-size: 37px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        &_gray-part {
          font-size: 38px;
          color: $gray-h;
        }
      }
      .main__story-info-wrapper {
        display: flex;
        justify-content: center;
        .main__story-menu-wrapper {
          flex-basis: 25%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          @media (max-width: $small-tablet) {
            display: none;
          }
          .main__story-menu-label {
            padding: 28px;
            font-family: $font-label;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: white;
            background-color: black;
            cursor: pointer;
            transition: 0.3s;
            &_selected {
              color: $light-green;
              background-color: $cards-bg;
            }
            &:hover {
              color: $light-green;
              background-color: $cards-bg;
            }
          }
        }
        .main__story-info-wrapper {
          flex-basis: 75%;
          padding: 60px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          @media (max-width: $small-laptop) {
            gap: 40px;
          }
          @media (max-width: $small-tablet) {
            padding: 20px;
            flex-basis: 100%;
          }
          background-color: $cards-bg;
          .main__story-founders-img {
            @media (max-width: $big-tablet) {
              display: none;
            }
            max-width: 172px;
            width: 100%;
            height: auto;
          }
          .main__story-text-info-wrapper {
            max-width: 546px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .main__story-text-info {
              max-width: 522px;
              margin-bottom: 17px;
              &_first {
                margin-top: 32px;
              }
              &_last {
                margin-bottom: 0;
              }
              font-family: $font-text;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: white;
            }
          }
        }
      }
    }
    .main__guitar-img-wrapper {
      min-height: 240px;
      margin-bottom: 250px;
      @media (max-width: $medium-laptop) {
        margin-bottom: 150px;
      }
      @media (max-width: $big-tablet) {
        margin-bottom: 125px;
      }
      @media (max-width: $small-tablet) {
        min-height: 60px;
        margin-bottom: 20px;
      }
      .main__guitar-img {
        width: 100%;
        height: auto;
      }
    }
    .main__gr-circles-and-roadmap-wrapper {
      min-height: 1370px;
      max-width: 1280px;
      width: 100%;
      margin: 0 auto 258px;
      @media (max-width: $medium-laptop) {
        margin: 0 auto 150px;
      }
      @media (max-width: $small-tablet) {
        margin-bottom: 20px;
      }
      position: relative;
      .main__green-circles-img {
        position: absolute;
        &_first {
          top: -231px;
          left: -56px;
        }
        &_second {
          top: 265px;
          left: 664px;
        }
        &_third {
          top: 938px;
          left: -56px;
        }
        @media (max-width: $medium-laptop) {
          display: none;
        }
      }
      .main__roadmap-wrapper {
        min-height: 1363px;
        @media (max-width: $small-tablet) {
          min-height: 1258px;
        }
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .main__roadmap-headline {
          margin-bottom: 61px;
          @media (max-width: $small-tablet) {
            margin-bottom: 15px;
          }
          font-family: $font-headline;
          font-weight: 400;
          font-size: 38px;
          line-height: 45px;
          text-align: center;
          text-transform: uppercase;
          color: white;
        }
        .main__roadmap-cards-wrapper {
          min-height: 1258px;
          max-width: 720px;
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          @media (max-width: $small-tablet) {
            padding-inline: 20px;
          }
        }
      }
    }
    .main__partners-wrapper {
      min-height: 210px;
      @extend %default-wrapper;
      margin-bottom: 258px;
      @media (max-width: $small-laptop) {
        padding-inline: 20px;
      }
      @media (max-width: $big-tablet) {
        margin-bottom: 125px;
      }
      @media (max-width: $small-tablet) {
        margin-bottom: 50px;
      }
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .main__partners-label {
        margin-bottom: 48px;
        font-family: $font-label;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $light-green;
      }
      .main__partners-cards-wrapper {
        @extend %default-wrapper;
        display: grid;
        row-gap: 85px;
        column-gap: 20px;
        padding-inline: 20px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: $small-laptop) {
          grid-template-rows: repeat(3, 1fr);
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $small-tablet) {
          grid-template-rows: repeat(6, 1fr);
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .main__faq-wrapper {
      min-height: 544px;
      @extend %default-wrapper;
      margin-bottom: 120px;
      display: flex;
      justify-content: space-between;
      @media (max-width: $small-laptop) {
        padding-inline: 20px;
        justify-content: space-around;
      }
      @media (max-width: $big-tablet) {
        margin-bottom: 60px;
      }
      @media (max-width: $small-tablet) {
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      }
      .main__faq-label-and-img-wrapper {
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .main__faq-label {
          font-family: $font-headline;
          font-weight: 400;
          font-size: 38px;
          line-height: 45px;
          text-transform: uppercase;
          color: white;
          @media (max-width: $small-tablet) {
            text-align: center;
            margin-bottom: 10px;
          }
          &_gray-part {
            color: $gray-h;
          }
        }
        .main__faq-img {
          @media (max-width: $small-tablet) {
            display: none;
          }
          width: 100%;
          height: auto;
        }
      }
      .main__faq-questions-wrapper {
        max-width: 580px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .main__team-label {
      margin-bottom: 83px;
      text-align: center;
      font-family: $font-headline;
      font-weight: 400;
      font-size: 79px;
      @media (max-width: $small-tablet) {
        margin-bottom: 15px;
        font-size: 40px;
      }
      line-height: 88px;
      text-transform: uppercase;
      color: white;
    }
    .main__team-wrapper {
      min-height: 552px;
      @extend %default-wrapper;
      margin-bottom: 145px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: $small-laptop) {
        padding-inline: 20px;
        justify-content: space-around;
      }
      @media (max-width: $big-tablet) {
        flex-wrap: wrap;
      }
      @media (max-width: $small-tablet) {
        margin-bottom: 30px;
      }
    }
    .main__join-discord-wrapper {
      min-height: 584px;
      @extend %default-wrapper;
      display: flex;
      justify-content: space-between;
      @media (max-width: $big-tablet) {
        min-height: 360px;
      }
      @media (max-width: $small-laptop) {
        padding-inline: 20px;
        justify-content: space-around;
      }
      align-items: center;
      .main__join-discord-text-wrapper {
        max-width: 340px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: $big-tablet) {
          text-align: center;
          align-items: center;
        }
        .main__join-discord-label {
          margin-bottom: 30px;
          font-family: $font-headline;
          font-weight: 400;
          font-size: 51px;
          @media (max-width: $small-tablet) {
            font-size: 40px;
          }
          line-height: 61px;
          text-transform: uppercase;
          color: white;
          &_green {
            color: $light-green;
          }
        }
        .main__join-discord-text {
          margin-bottom: 84px;
          @media (max-width: $small-tablet) {
            margin-bottom: 30px;
          }
          font-family: $font-text;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: white;
        }
        .main__join-discord-btn {
          @include btn(212px, 12px 32px, 21px, black, $light-green);
          @media (max-width: $big-tablet) {
            margin-left: 0;
          }
          .main__join-discord-btn-content {
            max-width: 148px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .main__join-discord-btn-icon {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .main__join-discord-img {
        max-width: 580px;
        width: 100%;
        height: auto;
        @media (max-width: $big-tablet) {
          display: none;
        }
      }
    }
  }
}
