/* font "DM Mono" */
@font-face {
  font-family: "DM Mono";
  /* IE9 Compat Modes */
  src: url(../../fonts/DMMono-Regular/DMMono-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"),
    /* IE6-IE8 */ url(../../fonts/DMMono-Regular/DMMono-Regular.eot?#iefix)
      format("embedded-opentype"),
    /* Safari, Android, iOS */
      url(../../fonts/DMMono-Regular/DMMono-Regular.otf) format("otf"),
    /* Legacy iOS */
      url(../../fonts/DMMono-Regular/DMMono-Regular.svg#DMMono-Regular)
      format("svg"),
    /* Safari, Android, iOS */
      url(../../fonts/DMMono-Regular/DMMono-Regular.ttf) format("truetype"),
    /* Modern Browsers */ url(../../fonts/DMMono-Regular/DMMono-Regular.woff)
      format("woff"),
    /* Modern Browsers */ url(../../fonts/DMMono-Regular/DMMono-Regular.woff2)
      format("woff2");
}

/* font "Audiowide" */
@font-face {
  font-family: "Audiowide";
  /* IE9 Compat Modes */
  src: url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Audiowide"),
    /* IE6-IE8 */
      url(../../fonts/Audiowide-Regular/Audiowide-Regular.eot?#iefix)
      format("embedded-opentype"),
    /* Safari, Android, iOS */
      url(../../fonts/Audiowide-Regular/Audiowide-Regular.otf) format("otf"),
    /* Legacy iOS */
      url(../../fonts/Audiowide-Regular/Audiowide-Regular.svg#Audiowide-Regular)
      format("svg"),
    /* Safari, Android, iOS */
      url(../../fonts/Audiowide-Regular/Audiowide-Regular.ttf)
      format("truetype"),
    /* Modern Browsers */
      url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff) format("woff"),
    /* Modern Browsers */
      url(../../fonts/Audiowide-Regular/Audiowide-Regular.woff2) format("woff2");
}

/* font "Inter" */
@font-face {
  font-family: "Inter";
  /* IE9 Compat Modes */
  src: url(../../fonts/Inter-Regular/Inter-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Inter"),
    /* IE6-IE8 */ url(../../fonts/Inter-Regular/Inter-Regular.eot?#iefix)
      format("embedded-opentype"),
    /* Safari, Android, iOS */ url(../../fonts/Inter-Regular/Inter-Regular.otf)
      format("otf"),
    /* Legacy iOS */
      url(../../fonts/Inter-Regular/Inter-Regular.svg#Inter-Regular)
      format("svg"),
    /* Safari, Android, iOS */ url(../../fonts/Inter-Regular/Inter-Regular.ttf)
      format("truetype"),
    /* Modern Browsers */ url(../../fonts/Inter-Regular/Inter-Regular.woff)
      format("woff"),
    /* Modern Browsers */ url(../../fonts/Inter-Regular/Inter-Regular.woff2)
      format("woff2");
}

$font-label: "DM Mono";
$font-headline: "Audiowide";
$font-text: "Inter";

$light-green: #8dfd1b;
$gray-h: #a8a8a8;
$cards-bg: #222222;
$faq-text: #c4c4c4;

%default-wrapper {
  max-width: 1160px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

@mixin btn($max-width, $padding, $margin-left, $text-color, $bg-color) {
  max-width: $max-width;
  width: 100%;
  padding: $padding;
  margin-left: $margin-left;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: $text-color;
  background-color: $bg-color;
  border: 1px solid $light-green;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    color: black;
    background-color: $light-green;
  }
  &:active {
    transition: 0s;
    color: white;
  }
}
